<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>uts.isd.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingController</servlet-name>
        <servlet-class>uts.isd.controller.ShippingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>uts.isd.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCustomerController</servlet-name>
        <servlet-class>uts.isd.controller.RegisterCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStaffController</servlet-name>
        <servlet-class>uts.isd.controller.RegisterStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserController</servlet-name>
        <servlet-class>uts.isd.controller.ManageUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogsController</servlet-name>
        <servlet-class>uts.isd.controller.UserLogsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>uts.isd.controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>uts.isd.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductsController</servlet-name>
        <servlet-class>uts.isd.controller.ViewProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrdersController</servlet-name>
        <servlet-class>uts.isd.controller.ViewOrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartOrderController</servlet-name>
        <servlet-class>uts.isd.controller.StartOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderController</servlet-name>
        <servlet-class>uts.isd.controller.CreateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderController</servlet-name>
        <servlet-class>uts.isd.controller.CancelOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderController</servlet-name>
        <servlet-class>uts.isd.controller.UpdateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUpdateController</servlet-name>
        <servlet-class>uts.isd.controller.LoadUpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogsController</servlet-name>
        <url-pattern>/UserLogsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCustomerController</servlet-name>
        <url-pattern>/RegisterCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStaffController</servlet-name>
        <url-pattern>/RegisterStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserController</servlet-name>
        <url-pattern>/ManageUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductsController</servlet-name>
        <url-pattern>/ViewProductsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrdersController</servlet-name>
        <url-pattern>/ViewOrdersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartOrderController</servlet-name>
        <url-pattern>/StartOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderController</servlet-name>
        <url-pattern>/CreateOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderController</servlet-name>
        <url-pattern>/CancelOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderController</servlet-name>
        <url-pattern>/UpdateOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUpdateController</servlet-name>
        <url-pattern>/LoadUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingController</servlet-name>
        <url-pattern>/ShippingController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
